@charset "UTF-8";

/* Estilo para telas */
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
header{
    background-color: rgb(231, 210, 116);
}
header > h1{
    text-align: center;
}
menu ul{
    list-style-type: none;
    background-color: rgba(255, 251, 0, 0.685);
}
menu li{
    background-color: rgba(175, 149, 3, 0.63);
    color: blue;
    display: inline-block;
    padding: 10px;
}
article{
    width: 600px;
    margin: auto;
    display: block;
}