@charset "UTF-8";
body{
    font: italic 17px Arial, Verdana, serif;
    text-align: left;
    background-color:rgba(116, 54, 173, 0.308) ;
}
h1{
    text-align: center;
    color: blueviolet;
}
h2{
    text-align: left;
    color: blueviolet;
    
}
p{
    text-align: justify;
    text-indent: 30px;
}