@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body, html{
    background-color: black;
}

h2{
    color: rgb(255, 0, 255);
    text-align: center;
}

picture{
    display: flex;
    justify-content: center;
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 730px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

picture > img{
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}


a > img{
    max-width: 100%;
}

main{
    background-color: blue;
    max-width: 700px;
    margin: auto;
}

div#primeira-fila{
    margin: auto;
    display: flex;
    justify-content: center;
 
}

div#primeira-fila > a{
    padding: 20px 10px 5px 10px;


    
}


#tela{
    text-align: center;

}

iframe{
    width: 94%;
    height: 430px;
    border: 2px solid black;
}


div#segunda-fila{
    margin: auto;
    display: flex;
    justify-content: center;
}

div#segunda-fila > a{
    padding: 20px 10px 15px 10px;
    
}