@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}


    @font-face {
        font-family: font-pet;
        src: url('GOODDC__.TTF');
        font-weight: bolder;
      

    }
    :root{
        --font-especial: 'font-pet';
        --cor: #8ED3DC;
        --cor2: #2c8896;
        --warningcor: rgba(255, 255, 0, 0.801);
    }
    body{
        background-color: var(--cor);
        margin:auto;
       
      
       
    }
    p{
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        text-indent: 20px;
        line-height: 1.4em;
        margin-bottom: 10px;
    }
    header{
        background-image: url(imagens/dog.wall.jpg);
        background-position: bottom center;
        background-size: 200px;
        padding-top: 50px;
        box-shadow: inset 8px -17px 20px 0px rgba(0, 0, 0, 0.555);
      
       
       
    }
    aside{
        background-color: rgba(192, 240, 255, 0.349);
        margin-top: -52px;
    }

h1{
    font-family:var(--font-especial);
    font-variant: small-caps;
    font-size: 7em;
    text-align: center;
    padding-top: 30px;
    color: var(--cor2);
    text-shadow: 1px -3px 0px black;
}
#subtítulo{
    text-align: center;
    font-variant: small-caps;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: var(--font-especial);
    font-size: 3em;
    color: var(--cor2);
    font-weight: bolder;
    line-height: 0.7em;
    text-shadow: 1px -3px 0px black;

}
main{
    background-color: rgb(250, 250, 250);
    margin-top: 10px;
    padding: 10px;
    max-width: 1150px;
    min-width: 180px;
    margin: auto;
}
main > section{
    margin-bottom: 10px;
}

.titulo-texto{
    font-family: var(--font-especial);
    font-size: 2.7em;
    font-variant: small-caps;
    border-radius: 15px 0px 0px 0px;
    background-image: linear-gradient(to right,#8ED3DC, rgb(255, 255, 255));
    margin-left: 5px;
    padding: 5px;
    margin-bottom: 25px;
    color: var(--cor2);
    box-shadow: -4px 1px 10px 0px rgba(0, 0, 0, 0.411);
}

#artigo{
    font-size: 2.5em;
    background-color: #032174;
    padding: 5px 0px 5px 5px; 
    color: var(--cor);
    border-radius: 20px 20px 1px 1px;
    border: 2px solid rgb(15, 15, 15);
    
    
}
.faixa-2{
    background-color: rgba(84, 84, 243, 0.212);
    padding: 5px;
    border: 1px solid black;

    
}
.faixa-1{
    padding: 5px;
    border: 1px solid black;
}


ul{
    list-style-position: inside;
    background-color: var(--cor);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px; 
    margin-bottom: 10px;
    line-height: 1.5em;
    border: 1px solid black;
    
}
#warning{
    background-color: var(--warningcor);
    border: 2px solid black;
    padding: 10px;
    max-width: 400px;
    min-width: 120px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
}
#warning > h3{
    padding-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    text-align: center;
   
}
#warning > p{
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    border: 1px solid black;
    text-indent: 0px;
    margin-bottom: 0px;
}
   



#pets-wall{
    display: flex;
    justify-content: center;
    background-image: url(imagens/pata-e-osso.jpg);
    background-attachment: fixed;
    background-size: 250px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 2px solid var(--cor2);
}

img{
    width: 76%;
    padding: 10px;
}
div#video{
    position: relative;
    background-image: url(imagens/pata-e-osso.jpg);
    background-attachment: fixed;
    background-size: 250px;
    height: 0px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-bottom: 56.5%;
    border: 2px solid var(--cor2)
}
div#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    margin-top: 0px;
}
footer{  
    margin: auto;
    max-width: 1170px;
    min-width: 180px;
    
}
footer > p{
    background-color: black;
     text-align: center;
     color: var(--cor);
     padding: 5px;
     margin-bottom: 0px;
}
a{
    color: var(--cor);
    text-decoration: none;
}
