@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}


    @font-face {
        font-family: font-pet;
        src: url('GOODDC__.TTF');
        font-weight: bolder;
      

    }
    :root{
        --font-especial: 'font-pet';
        --cor: #8ED3DC;
        --cor2: #0f545e;
    }
    body{
        background-color: var(--cor);
        margin:auto;
       
      
       
    }
    p{
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        text-indent: 20px;
        line-height: 1.4em;
        margin-bottom: 10px;
    }
    header{
        background-image: url(imagens/dog.wall.jpg);
        background-position: bottom center;
        background-size: 200px;
        padding-top: 50px;
        box-shadow: inset 8px -17px 20px 0px rgba(0, 0, 0, 0.555);
      
       
       
    }
    aside{
        background-color: rgba(192, 240, 255, 0.349);
        margin-top: -52px;
    }

h1{
    font-family:var(--font-especial);
    font-variant: small-caps;
    font-size: 7em;
    text-align: center;
    padding-top: 30px;
    color: var(--cor2);
    text-shadow: 1px -3px 0px black;
}
#subtítulo{
    text-align: center;
    font-variant: small-caps;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: var(--font-especial);
    font-size: 3em;
    color: var(--cor2);
    font-weight: bolder;
    line-height: 0.7em;
    text-shadow: 1px -3px 0px black;

}
main{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    max-width: 1150px;
    min-width: 180px;
    margin: auto;
}
main > section{
    margin-bottom: 10px;
}

.titulo-texto{
    font-family: var(--font-especial);
    font-size: 2.7em;
    font-variant: small-caps;
    border-radius: 15px 0px 0px 0px;
    background-image: linear-gradient(to right,#8ED3DC, rgb(255, 255, 255));
    margin-left: 5px;
    padding: 5px;
    margin-bottom: 25px;
    color: var(--cor2);
    box-shadow: -4px 1px 10px 0px rgba(0, 0, 0, 0.411);
}

#artigo > h1{
    font-size: 2.5em;
    background-color: #032174;
    padding: 5px 0px 5px 5px; 
    color: var(--cor);
    border-radius: 20px 20px 1px 1px;
    
    
}
.faixa-2{
    background-color: rgba(84, 84, 243, 0.212);
    padding: 5px;
    border: 1px solid black;

    
}
.faixa-1{
    padding: 5px;
    border: 1px solid black;
}

ol{
    list-style-position: inside;
    background-color: var(--cor);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    line-height: 1.4em;
    margin-bottom: 10px;
    line-height: 1.7em;
    border: 1px solid black;
    
}


picture{
    display: flex;
    justify-content: center;
    background-image: url(imagens/pata-e-osso.jpg);
    background-attachment: fixed;
    background-size: 250px;
    margin-left: 5px;
}
img{
    width: 80%;
    padding: 10px;
}

