@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Nanum+Myeongjo:wght@700&display=swap');
body{
    background-color: #216420;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin: auto;
    max-width: 850px;
    min-width: 280px;
}
header > h1{
    font-family: 'Bree Serif', serif;
    font-size: 3em;
    text-align: center;
    background-color: rgba(209, 195, 195, 0.87);
    color: #216420;
    border: 3px solid rgba(3, 3, 3, 0.733);;
    border-radius: 65px 65px 61px 61px;
    margin-bottom: 15px;
    text-shadow: 0px 3px 0px rgba(3, 3, 3, 0.733);
}
#brasao{
    display: flex;
    justify-content: center;
}
header > h2{
    font-family: 'Bree Serif', serif;
    color: #216420;
    background-color: rgba(209, 195, 195, 0.87);
    text-align: center;
    padding: 5px 15px 8px 20px;
    border: 3px solid rgba(3, 3, 3, 0.733);
    border-radius: 65px 65px 61px 61px;
    margin-top: 0px;
    margin-bottom: 25px;
}
main{
    background-color: rgba(209, 195, 195, 0.87) ;
    border: 3px solid rgba(3, 3, 3, 0.733);
    padding: 5px 15px 5px 20px;
    max-width: 850px;
    min-width: 280px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 25px 25px 25px 25px;
    
}
main > h1{
    font-family: 'Bree Serif', serif;
    font-size: 2.5em;
    color: #216420;
    padding-left: 1px;
    text-shadow: 0px 3px 0px rgba(3, 3, 3, 0.733);
    margin-top: 10px;
}

picture{
    display: flex;
    justify-content: center;
}
img{
    max-width: 100%;
}

main > p{
    font-weight: bold;
    text-align: justify;
    text-indent: 30px;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 1.5em;
}

section{
    background-color: rgba(209, 195, 195, 0.87);
    border: 3px solid rgba(3, 3, 3, 0.733);
    padding: 5px 15px 15px 20px;
    max-width: 850px;
    min-height: 280px;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: px;
    border-radius: 25px 25px 25px 25px;
}
section > h2{
    color: #216420;
    font-family: 'Bree Serif',serif;
    font-size: 2em;
    padding-left: 1px;
}
section > h1{
    color: #216420;
    font-family: 'Bree Serif', serif;
    font-size: 2.5em;
    padding-left: 10px;
    text-shadow: 0px 3px 0px rgba(3, 3, 3, 0.733);
    margin-top: 10px;
}
section > p{
    font-weight: bold;
    text-align: justify;
    text-indent: 30px;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 1.5;
}

section > div > h2{
    font-family: 'Bree Serif', serif;
    font-size: 2em;
    color:#216420;
    padding-left: 5px;
}

section > div > ul > li{
    font-weight: bold;
    line-height: 1.5em;
}

#voltar{
    display: flex;
    justify-content: center;
}
footer{
    color: rgba(209, 195, 195, 0.87);
    text-align: right;
    padding: 5px 15px 5px 20px;
    margin: auto;
    max-width: 850px;
    min-width: 280px;
    margin-top: 10px;
}
footer > p{
    font-weight: bold;
}
