@charset "UTF-8";

@font-face {
    font-family: 'font.subtitulo';
    src: url('Elegant\ DEMO.ttf');
}

@font-face {
    font-family: 'font.titulo';
    src: url('GingerBread.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    background: rgb(80, 5, 3);
}

:root{
    --cor1: rgb(255, 255, 255);
}

header{
    background-image: linear-gradient(255deg, #A60F44, #7B2444, #781C3D, #30101B); 

}

header > h1{
    font-family: 'font.titulo';
    font-size: 5em;
    font-variant: small-caps;
   color: var(--cor1);
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
}

header > h2{
    font-family: 'font.subtitulo';
    color: var(--cor1);
    font-size: 3.5em;
    text-align: center;
    padding-bottom: 20px;
    padding-left:10px;
    padding-right:10px;
   
}

.titcor{
    color: var(--cor1);
}
.subcor{
    color: var(--cor1);
    font-variant: small-caps;
    font-size: 40px;
   
}
#logo{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
img{
    max-width: 100%;
}


nav{
    display: flex;
    margin: auto;
    border-radius: 25px 25px 0px 0px;


}

article > ul{
    padding-bottom: 15px;
}

article > ul > li >  a:hover{
    box-shadow: 1px 1px rgb(255, 255, 255);
    font-size: 20px;
    padding-right: 10px;
    transition-duration: 0.4s;
   
}
section{
    max-width: 850px;
    min-width: 280px;
    margin: auto;
    background-color: #A60F44;
    font-family: 'font.titulo';
    color: white;

}

section > h1{
    padding: 10px;
}
article > ul{
    columns: 2;
    list-style-position: inside;
    line-height: 1.7em;
    text-align: center;

    color: white;
    
}

article > ul > li>  a{
    text-decoration: none;
    color: white;
    text-decoration: none;

}

div{
    text-align: center;
}
iframe{
    width: 95%;
    height: 570px;
    border: 2px solid black;
    background-image: url(../imagens/fundo01.png);
    background-size: cover;
    background-position: center bottom;
  
 
}

    
 
  