@charset "UTF-8";
h1{
    border: 20px solid black;
    padding: 10px;
    border-image-source: url(borda.png);
    border-image-slice: 27;
    border-image-repeat: stretch;
    background-color: rgb(208, 205, 255);
}