@charset "UTF-8";

@font-face {
    font-family: main-font;
    src: url('mk5style.ttf');
}


@font-face {
    font-family: 'Letra';
    src: url('Fatal\ Fighter.ttf');
}



*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #423e3e8c
 

}
header > h1{
    text-align: center;
    padding-top: 25px;
    font-size: 50px;
    font-family: 'Letra';
    color: rgba(255, 0, 0, 0.767);
  
}
header > img{
    display: flex;
    max-width: 100%;
    margin: auto;
}